---
import astroLogo from '../assets/logo.png';
---
<nav class="navbar">
  <div class="brand">
    <a href="/">
      <img src={astroLogo.src} alt="logo_salonu" class="logo" />
    </a>
  </div>

  <ul class="nav-links">
    <li><a class="nav-link" href="#home">Main</a></li>
    <li><a class="nav-link" href="#service">Usługi</a></li>
    <li><a class="nav-link" href="#contact">Kontakt</a></li>
    <li><a class="booksy" href="https://booksy.com/pl-pl/" target="_blank">booksy</a></li>
  </ul>

</nav>
