<section id="service" class="service-section">
	<div class="service-wrapper">
		<div class="service-header">
			<h2>Menu usług</h2>
		</div>

		<table class="service-table">
			<thead>
				<tr>
					<th>Usługa</th>
					<th>Cena</th>
					<th>Czas</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="service-name">Strzyżenie męskie</td>
					<td>80 zł</td>
					<td>45 min</td>
				</tr>
				<tr>
					<td class="service-name">Broda i stylizacja</td>
					<td>60 zł</td>
					<td>30 min</td>
				</tr>
				<tr>
					<td class="service-name">Golenie klasyczne</td>
					<td>40 zł</td>
					<td>25 min</td>
				</tr>
				<tr>
					<td class="service-name">Fryzura specjalna</td>
					<td>120 zł</td>
					<td>60 min</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>

